QMainWindow {
    background-color: @THEME_BG_LIGHT;
}
QWidget{
    background-color: @THEME_BG_LIGHT;
}

QCheckBox{
    color: @THEME_TEXT_LIGHT;
}
QTextBrowser {
    background-color: @THEME_BG_DARK;
    color: @THEME_TEXT_LIGHT;
    border: none;
}
QTextBrowser#textBrowser_log {
    background-color: @THEME_TEXT_LIGHT;
    color: @THEME_BG_DARK;
    font-family: Lucida Console, monospace;
}
QGroupBox{
    color: @THEME_TEXT_LIGHT;
    font-weight: bold;
    background: @THEME_BG_MID;
    border: 1px solid @THEME_TEXT_DARK;
    border-radius: 3px;
    margin-top:20;
}
QGroupBox::title {
    subcontrol-origin: margin;
    bottom: -2;
}
QGroupBox#plot_box{
    background: white;
}
QStatusBar{
    color: @THEME_TEXT_LIGHT;
}
QGraphicsView{
    border: none;
    background: transparent;    /* CUIDAO */
}
QListView{
    background: transparent;
    border: none;
}
QListView#listWidget_files{
    background-color: @THEME_TEXT_LIGHT;
    color: @THEME_BG_DARK;
    font-weight: normal;
}
QListWidget::indicator:checked {
    background: @THEME_TEXT_ACCENT;
    font-weight: bold;
}
QSplitter::handle {
    background: @THEME_TEXT_DARK;
    margin-right: 5;
    margin-left: 5;
}
QToolBar{
    border-top: 1 solid @THEME_TEXT_DARK;
    border-bottom: 1 solid @THEME_TEXT_DARK;
    min-height:20px;
}

QLabel{
    background: transparent;
    color: @THEME_TEXT_LIGHT;
}
QLabel#face_image{
    border: none;
    border-radius: none;
}
QLabel#notification{
    color: @THEME_TEXT_LIGHT;
    background-color: @THEME_BG_MID;
    border: 1px solid @THEME_BG_MID;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
}


QRadioButton{
    color: @THEME_TEXT_LIGHT;
}

QLineEdit{
    background-color: @THEME_TEXT_LIGHT;
    color: black;
    border: none;
}
QLineEdit:disabled{
    background-color: @THEME_TEXT_DARK;
    color: @THEME_TEXT_LIGHT;
    border: none;
}

/* ------------------------------------- COMBO-BOXES ------------------------------------- */
QComboBox {
	border: 0px @THEME_TEXT_LIGHT;
	background: @THEME_TEXT_LIGHT;
	color: @THEME_BG_MID;
	min-width: 6em;
	min-height: 1.5em;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 20px;

	min-height: 1.5em;
}

QComboBox QAbstractItemView{
	background-color: @THEME_BG_MID;
	color: @THEME_TEXT_LIGHT;
	selection-background-color: @THEME_BG_MID;
	selection-color: @THEME_TEXT_ACCENT;
	selection-border: 0px solid white;
    min-height: 1.5em;
}

QSpinBox, QDoubleSpinBox{
    background: @THEME_TEXT_LIGHT;
	color: @THEME_BG_MID;
}
QSpinBox::up-arrow:on, QDoubleSpinBox::up-arrow:on{
    image: url(../../gui/images/icons/small_arrow_up.png);
}
QSpinBox::down-arrow:on, QDoubleSpinBox::down-arrow:on{
    image: url(../../gui/images/icons/small_arrow_down.png);
}
QDoubleSpinBox::up-button, QDoubleSpinBox::up-button:pressed,
QDoubleSpinBox::down-button, QDoubleSpinBox::down-button:pressed{
    background-color: @THEME_TEXT_LIGHT;
}

/* ------------------------------------- SPIN-BOXES ------------------------------------- */
QSpinBox {
    padding-right: 15px; /* make room for the arrows */
    background: @THEME_TEXT_LIGHT;
	color: @THEME_BG_MID;
}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */

    width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    border-width: 1px;
}

QSpinBox::up-arrow {
    image: url(images/icons/up_arrow_bg_mid.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */

    width: 16px;
    border-width: 1px;
    border-top-width: 0;
}

QSpinBox::down-arrow {
    image: url(images/icons/down_arrow_bg_mid.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off { /* off state when value in min */
   image: url(images/icons/down_arrow_disabled.png);
}

/* ------------------------------------- BUTTONS ------------------------------------- */
QPushButton, QToolButton {
    cursor: pointer;
    color: @THEME_TEXT_LIGHT;
    border: 1px solid @THEME_TEXT_DARK;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 @THEME_BG_EXTRALIGHT, stop: 1 @THEME_BG_LIGHT);
    min-width: 80px;
}

QPushButton#btn_done, QPushButton#pushButton_train{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 @THEME_MAIN_BUTTON_LIGHT, stop: 1 @THEME_MAIN_BUTTON_MID);
}
QPushButton#btn_done:pressed, QPushButton#pushButton_train:pressed{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 @THEME_MAIN_BUTTON_MID, stop: 1 @THEME_MAIN_BUTTON_DARK);
}
QPushButton:hover, QToolButton:hover{
    cursor: pointer;
    border: 2px solid @THEME_TEXT_ACCENT;
}
QPushButton:pressed, QToolButton:pressed{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 @THEME_BG_LIGHT, stop: 1 @THEME_BG_MID);
}
QPushButton:disabled, QToolButton:disabled{
    color: @THEME_TEXT_DARK;
}
/*
QToolButton{
    background-color: transparent;
    color: @THEME_TEXT_LIGHT;
    font-weight: bold;
}

QToolButton:hover{
    border: 2px solid @THEME_TEXT_ACCENT;
}*/

/* ------------------------------------- TOOLBOX ------------------------------------- */
QToolBox::tab{
    color: @THEME_TEXT_LIGHT;
    background: @THEME_BG_MID;
    border: 1 solid @THEME_BG_LIGHT;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
QToolBox::tab::selected{
    background: @THEME_BG_SELECTED;
    border-bottom: 3 solid @THEME_BG_LIGHT;
    border-bottom-color: @THEME_TEXT_ACCENT;
    font-weight: bold;
}
QToolBox{
    background: transparent;
}
QToolBox::frame{
    background: transparent;
}
QToolBox > QScrollArea > QWidget > QWidget{
    background: @THEME_BG_MID;
}


/* ------------------------------------- MENU-BAR ------------------------------------- */
QMenuBar {
    background: transparent;
    color: @THEME_TEXT_LIGHT;
    border-bottom: 1 solid @THEME_BG_DARK;
}
QMenuBar::item {
    spacing: 8px; /* spacing between menu bar items */
    padding: 3 8 3 8;
    background: transparent;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: transparent;
}
QMenuBar::item:pressed {
    background: @THEME_MENU_SELECTED;
}

QMenu {
    color: @THEME_TEXT_LIGHT;
    background-color: @THEME_BG_LIGHT; /* sets background of the menu */
    border: 1 solid @THEME_BG_EXTRALIGHT;
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: transparent;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: @THEME_MENU_SELECTED;
}

/* ------------------------------------- SCROLL-BAR ------------------------------------- */
QScrollBar:vertical {
    background: none;
    border: none;
    background-color: @THEME_BG_DARK;
    width: 10;
}
QScrollBar::handle:vertical {
    background: @THEME_TEXT_DARK;
    min-height: 10px;
}
QScrollBar::add-line:vertical {
     background: none;
     width: 0px;
     height: 0 px;
}
QScrollBar::sub-line:vertical {
     background: none;
     width: 0px;
     height: 0 px;
}
QScrollBar::add-page:vertical{
    background-color: transparent;
}
QScrollBar::sub-page:vertical{
    background-color: transparent;
}

QScrollBar:horizontal {
    background: none;
    border: none;
    background-color: @THEME_BG_DARK;
    height: 10;
}
QScrollBar::handle:horizontal {
    background: @THEME_TEXT_DARK;
    min-width: 10px;
}
QScrollBar::add-line:horizontal {
     background: none;
     height: 0px;
     width: 0 px;
}
QScrollBar::sub-line:horizontal {
     background: none;
     width: 0px;
     height: 0 px;
}
QScrollBar::add-page:horizontal{
    background-color: transparent;
}
QScrollBar::sub-page:horizontal{
    background-color: transparent;
}

/* ------------------------------------- TAB-WIDGET ------------------------------------- */
QTabWidget::pane { /* The tab widget frame */
    background-color: green;
}
QTabBar::tab {
    background: @THEME_BG_LIGHT;
    color: @THEME_TEXT_LIGHT;
    min-width: 8ex;
    padding: 3 10 3 10;
    border-bottom: 3 solid @THEME_BG_LIGHT;
}
QTabBar::tab:selected {
    background: @THEME_BG_SELECTED;
    border-color: @THEME_TEXT_ACCENT;
}
QTabBar::tab:!selected { /* If not selected*/ }

/* ------------------------------------- DIALOGS ------------------------------------- */
QMessageBox {
    background-color: @THEME_BG_DARK;
    color: @THEME_TEXT_LIGHT;
}

/* ------------------------------------- LISTS ------------------------------------- */
QListWidget{
    margin: 0px;
    border: none;
    show-decoration-selected: 0;
    outline: 0;
}
QListWidget::item {
    color: @THEME_TEXT_LIGHT;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    show-decoration-selected: 0;
}
QListWidget::item:selected {
    background-color: @THEME_MENU_SELECTED;
    show-decoration-selected: 0;
    border: none;
}

/* Model trainer QListWidget */
QListWidget#listWidget_files{
    margin: 0px;
    border: none;
    show-decoration-selected: 0;
    outline: 0;
}
QListWidget#listWidget_files::item {
    color: @THEME_BG_DARK;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    show-decoration-selected: 0;
}
QListWidget#listWidget_files::item:selected {
    color: @THEME_TEXT_LIGHT;
    background-color: @THEME_MENU_SELECTED;
    show-decoration-selected: 0;
    border: none;
}




